## Homework 2

### Due Date: 10-16-2024

#### Alejandro Roa Contreras

For this assignment, you will practice downloadings, cleaning, and analyzing data from the [National Risk Index (NRI)](https://hazards.fema.gov/nri/) and the [CDC Social Vulnerability Index (SVI)](https://www.atsdr.cdc.gov/placeandhealth/svi/index.html).

#### Preparation

1. Create a 'data' folder in the root directory of your repository.
1. Inside the 'data' folder, create a 'raw' folder.
1. Add and commit a '.gitignore' file to the root directory of this repository that excludes all contents of the 'data' folder.
1. Download the county-level NRI and SVI data for the entire United States. Place the data in the 'data/raw' folder.
1. In the repository README, provide a brief (1-2 sentence) description of each file in the 'data' folder and a link to the original source of the data.

#### Task 1 - NRI Data Cleaning

1. Import the NRI data. Ensure that the [FIPS code](https://en.wikipedia.org/wiki/Federal_Information_Processing_Standard_state_code) variable ('STCOFIPS') is correctly identified as a string / character variable. Otherwise, the leading zeros will be removed.

In [3]:
import pandas as pd

In [12]:
NRI_data = pd.read_csv('/Users/alejandroroacontreras/Library/CloudStorage/GoogleDrive-alejandro.roa.cs@gmail.com/Mi unidad/Pardee Rand Graduate School/Year 2/Introduction to ML/code/PRGS-Intro-to-ML-2024/data/raw/NRI_counties_level.csv', dtype={'STCOFIPS':str})

In [13]:
NRI_data.head()

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,POPULATION,...,WNTW_EALS,WNTW_EALR,WNTW_ALRB,WNTW_ALRP,WNTW_ALRA,WNTW_ALR_NPCTL,WNTW_RISKV,WNTW_RISKS,WNTW_RISKR,NRI_VER
0,1,C01001,Alabama,AL,1,Autauga,County,1,01001,58764,...,15.784587,Very Low,2.687716e-07,7.410082e-09,8.725777e-06,10.461158,8494.906508,12.217626,Very Low,March 2023
1,2,C01003,Alabama,AL,1,Baldwin,County,3,01003,231365,...,56.205509,Relatively Moderate,1.268231e-09,2.287120e-08,1.548360e-07,13.339523,65619.701638,52.083996,Relatively Low,March 2023
2,3,C01005,Alabama,AL,1,Barbour,County,5,01005,25160,...,18.632002,Relatively Low,5.788050e-07,2.347236e-08,7.606598e-07,16.125039,15501.730335,19.535476,Very Low,March 2023
3,4,C01007,Alabama,AL,1,Bibb,County,7,01007,22239,...,13.308573,Very Low,9.014679e-07,1.270300e-08,1.202015e-05,16.991643,7496.186940,11.104041,Very Low,March 2023
4,5,C01009,Alabama,AL,1,Blount,County,9,01009,58992,...,23.645930,Relatively Low,5.268425e-07,1.482016e-08,2.002965e-07,12.039616,17175.160729,21.444480,Very Low,March 2023

In [14]:
print(NRI_data['STCOFIPS'].dtype)

object

2. Subset the NRI data to include only the 5-digit state/county FIPS code and all colums ending with '\_AFREQ' and '\_RISKR'. Each of these columns represents a different hazard type.

In [15]:
NRI_data.shape

(3231, 465)

In [16]:
STCOFIPS_column = 'STCOFIPS'

In [18]:
columns_selection = [STCOFIPS_column] + [col for col in NRI_data.columns if col.endswith('_AFREQ') or col.endswith('_RISKR')]

In [19]:
subset_NRI = NRI_data[columns_selection]

In [20]:
subset_NRI.head()

,STCOFIPS,AVLN_AFREQ,AVLN_RISKR,CFLD_AFREQ,CFLD_RISKR,CWAV_AFREQ,CWAV_RISKR,DRGT_AFREQ,DRGT_RISKR,ERQK_AFREQ,...,TRND_AFREQ,TRND_RISKR,TSUN_AFREQ,TSUN_RISKR,VLCN_AFREQ,VLCN_RISKR,WFIR_AFREQ,WFIR_RISKR,WNTW_AFREQ,WNTW_RISKR
0,01001,NaN,Not Applicable,NaN,Not Applicable,0.0,No Rating,25.969774,Relatively Low,0.000431,...,0.480184,Relatively Moderate,NaN,Not Applicable,NaN,Not Applicable,0.000035,Very Low,0.433437,Very Low
1,01003,NaN,Not Applicable,3.684142,Relatively Low,0.0,No Rating,12.353442,Relatively Moderate,0.000338,...,0.953140,Relatively Moderate,NaN,Insufficient Data,NaN,Not Applicable,0.002229,Relatively Moderate,0.182759,Relatively Low
2,01005,NaN,Not Applicable,NaN,Not Applicable,0.0,No Rating,43.956953,Relatively Low,0.000227,...,0.739018,Relatively Moderate,NaN,Not Applicable,NaN,Not Applicable,0.000038,Very Low,0.185759,Very Low
3,01007,NaN,Not Applicable,NaN,Not Applicable,0.0,No Rating,28.894501,Very Low,0.000790,...,0.586160,Relatively Moderate,NaN,Not Applicable,NaN,Not Applicable,0.000040,Very Low,0.743034,Very Low
4,01009,NaN,Not Applicable,NaN,Not Applicable,0.0,No Rating,28.152598,Relatively Low,0.000817,...,0.710332,Relatively Moderate,NaN,Not Applicable,NaN,Not Applicable,0.000035,Very Low,0.866873,Very Low

3. Create a table / dataframe that, for each hazard type, shows the number of missing values in the '\_AFREQ' and '\_RISKR' columns

In [29]:
missing_values= subset_NRI.isnull().sum().sort_values(ascending=False)

In [27]:
afreq_missing = []
riskr_missing = []

In [30]:
for col in missing_values.index:
    if col.endswith('_AFREQ'):
        afreq_missing.append({'Column': col, 'Missing_Count': missing_values[col]})
    elif col.endswith('_RISKR'):
        riskr_missing.append({'Column': col, 'Missing_Count': missing_values[col]})

In [31]:
afreq_df = pd.DataFrame(afreq_missing)
riskr_df = pd.DataFrame(riskr_missing)

In [39]:
afreq_df['Hazard_Type'] = afreq_df['Column'].str.replace('_AFREQ', '', regex=False)
riskr_df['Hazard_Type'] = riskr_df['Column'].str.replace('_RISKR', '', regex=False)

In [33]:
final_table = pd.merge(afreq_df[['Hazard_Type', 'Missing_Count']], 
                    riskr_df[['Hazard_Type', 'Missing_Count']], 
                    on='Hazard_Type', suffixes=('_AFREQ', '_RISKR'))

In [40]:
final_table = pd.merge(afreq_df[['Hazard_Type', 'Missing_Count']], 
                    riskr_df[['Hazard_Type', 'Missing_Count']], 
                    on='Hazard_Type', suffixes=('_AFREQ', '_RISKR'))

In [43]:
final_table

   Hazard_Type  Missing_Count_AFREQ  Missing_Count_RISKR
0         VLCN                 3125                    0
1         TSUN                 3103                    0
2         AVLN                 3023                    0
3         CFLD                 2646                    0
4         HRCN                  918                    0
5         ISTM                  229                    0
6         LTNG                  123                    0
7         WFIR                   88                    0
8         LNDS                   40                    0
9         TRND                    7                    0
10        SWND                    7                    0
11        HAIL                    7                    0
12        DRGT                    7                    0
13        RFLD                    0                    0
14        WNTW                    0                    0
15        HWAV                    0                    0
16        ERQK                    0                    0
17        CWAV                    0                    0

4. Create a new column in the original data table indicating whether or not 'AVLN_AFREQ' is missing or observed. Show the cross-tabulation of the 'AVLN_AFREQ' missingness and 'AVLN_RISKR' columns (including missing values). What do you observe?

In [64]:
NRI_data['AVLN_AFREQ_Missing'] = NRI_data['AVLN_AFREQ'].isnull()

In [65]:
cross_tab = pd.crosstab(NRI_data['AVLN_AFREQ_Missing'], NRI_data['AVLN_RISKR'], dropna=False)

In [66]:
cross_tab

AVLN_RISKR,Not Applicable,Relatively High,Relatively Low,Relatively Moderate,Very High,Very Low
AVLN_AFREQ_Missing,,,,,,
False,0,15,52,33,9,99
True,3023,0,0,0,0,0